# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/

# Virtual environment
env/

# Database
db.sqlite3

# macOS specific files
.DS_Store

# Django specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# VS Code
.vscode/
